.planets {
    width: 60%;
    margin: auto;
    margin-top: 6rem;
    text-align: left;
}

.planets-box {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    color: rgb(203, 203, 203);
}

.planets-box__title {
    cursor: default;
    font-size: 46px;
    color: rgb(212, 212, 212);

}

.planets-box__item {
    cursor: default;
    border: 2px solid rgb(93, 98, 167);
    text-align: center;
    border-radius: 7px;
    width: 15rem;
    padding: 1rem;
}

.subtitle {
    color: rgb(93, 98, 167);
}

span {
    font-weight: 700;
    color: rgb(225, 225, 225);
}