.chart-box {
	width: 50%;
	margin: 2rem auto;
}

.button {
	margin-left: 5px;
	height: 70px;
	width: 450px;
	border: 3px solid white;
	border-radius: 10px;
	background-color: inherit;
	color: white;
	font-size: 36px;
}

.blockButton {
	display: flex;
	margin-top: 6rem;
	justify-content: center;
}

.choose {
	margin-right: 5px;
	font-size: 22px;
}

.blockList {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list {
	margin: 0;
	width: 90%;
	background-color: white;
	border-radius: 10px;
	color: black;
	font-weight: 500;
	text-align: start;
	list-style-type: none;
}

.itemList {
	padding: 5px;
	cursor: pointer;
}

.itemList:hover {
	color: orange;
}
