.chart-box {
	width: 50%;
	margin: 2rem auto;
}

.compare {
	padding: 15px 100px;
	border: 3px solid white;
	border-radius: 10px;
	background-color: inherit;
	color: white;
	font-size: 36px;
}

.blockButton {
	display: flex;
	margin-top: 6rem;
	justify-content: center;
}

.choose {
	padding: 15px 100px;
	/* width: 440px; */
	border: 3px solid white;
	border-radius: 10px;
	background-color: inherit;
	color: white;
	font-size: 22px;
}
