.App {
	text-align: center;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;
	height: 100%;
	margin: 0;
	color: #afafaf;
}

.title {
	cursor: pointer;
	color: rgb(212, 212, 212);
	font-size: 50px;
}